body {
  background:url('../img/background.jpg') center/cover;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  &::before {
    content:'';
    background:linear-gradient(270deg, rgba(235,0,88,0.4319852941176471) 0%, rgba(2,151,179,0.68968837535014) 100%);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity:0.95;
  }
}

.wrapper {
  max-width: 500px;
  border-radius:10px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  color:#fff;
}
.ask {
  padding:10px 25px;
  position: fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width: 90%;
  max-width: 500px;
  animation: appear 0.3s ease-in-out;
  display: flex;
  flex-direction:column;
  transition:.3s all ease-in-out;
  &.move {
    transform:translate(-200%,-50%);
    opacity:0;
    display:block;
  }
  input {
    width: 100%;
    border:0;
    padding:15px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:none;
    border:1px solid rgba(255,255,255,0.9);
    border-radius:5px;
    outline:none;
    color:rgba(255,255,255,0.9);
    font-size: 18px;
    margin-bottom: 50px;
  }
  label {
    margin-bottom: 10px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    display: block;
    font-weight: 100;
  }
  button {
    background:none;
    padding:15px 30px;
    border:1px solid rgba(255,255,255,0.9);
    color:#fff;
    width: 50%;
    border-radius:5px;
    cursor:pointer;
    transition:1s all ease-in-out;
    text-transform: uppercase;
    align-self:center;
    &:hover {
      background:rgba(255,255,255,0.1);
    }
  }
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255,255,255,0.9);
}
.profile {
  max-width: 400px;
  width: 90%;
  margin:0 auto;
  background:rgba(0,0,0, .5);
  color:#fff;
  padding:0 50px 50px;
  border-radius:15px;
  position: fixed;
  top:50%;
  left:50%;
  transform:translate(350%,-50%);
  transition:.3s all ease-in-out;
  &.move {
    transform:translate(-50%,-50%);
  }
  &__pic {
    width: 150px;
    height: 150px;
    background-position : center;
    background-size:cover;
    border-radius:50%;
    border:5px solid rgba(0,0,0, .5);
    transform:translateY(-50%);
  }
  &__name {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin-top: -40px;
    &::before {
      content:"Bonjour, "
    }
    &::after {
      content:'.'
    }
  }
  main {
    display: flex;
    flex-direction:column;
    align-items:center;
    i {
      position: absolute;
      right:10px;
      top:10px;
      cursor:pointer;
      opacity:0.5;
      transition:.3s all ease-in-out;
      &:hover {
        opacity:1;
      }
    }
  }
}